<a href="https://colab.research.google.com/github/EnricoCeci/Master-Data-Science---Profession-AI---Portfolio-/blob/main/2.%20Programmazione%20con%20Python/4_Variabili_e_tipi_di_dati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Operazioni aritmetiche
Inserisci due interi come input e stampa:
1. La somma dei due numeri
2. La differenza tra i due numeri (primo - secondo)
3. Il prodotto tra i due numeri

In [41]:
a = int(input("Inserisci il primo numero:"))
b = int(input("inserisci il secondo numero:"))
print(a+b)
print (a-b)
print (a*b)

Inserisci il primo numero:2
inserisci il secondo numero:4
6
-2
8

#2. Divisioni
Leggi due interi a e b come input e stampa:

1. Il risultato della divisione tra a e b come un numero con la virgola
2. Il risultato della divisione tra a e b come numero intero

In [58]:
a = int(input("Inserisci il primo numero:"))
b = int(input("inserisci il secondo numero:"))
c = a/b
print(c)
c_int = a//b
print(c_int)

Inserisci il primo numero:3
inserisci il secondo numero:4
0.75
0

MEMO: si può imporre a python di dare un numero intero come result di una divisione così: a//b (si usa un doppio //)

In [57]:
a = int(input("Inserisci il primo numero:"))
b = int(input("inserisci il secondo numero:"))
c = a/b
print(c)
c_int = int(round(c,0))
print(c_int)

Inserisci il primo numero:3
inserisci il secondo numero:4
0.75
1

Siccome python tronca ad esempio 0,75 se lo into, facendo risultare 0 come intero, per evitare ciò gli dico di intare un numero approssimato usando round: c_int = int(round(c,0))

#3. Potenze e modulo
Leggi un float a e un intero b come input e stampa:
1. a elevato b
2. il modulo di a per b

All'interno del print inserisci anche l'operazione che stai eseguendo

In [4]:
a = float(input("Inserisci il primo numero:"))
b = int(input("inserisci il secondo numero:"))
print(f"{a:.2f} ** {b} = {a**b:.2f}")
print(f"{a:.2f} % {b} = {a%b:.2f}")

Inserisci il primo numero:1.5
inserisci il secondo numero:2
1.50 ** 2 = 2.25
1.50 % 2 = 1.50

#4. Swapping

Lo swapping consiste nell'invertire il valore di due variabili

1. Prendi in input due valori e assegnali a due variabili A e B
2. Stampa le variabili su schermo
3. Assegna il valore di A a B e il valore di B ad A,
4. Stampa le variabili su schermo

In [6]:
a = (input("Valore A ="))
b = (input("Valore B ="))
print(f"A={a} e B={b}")

c = b
b = a
a = c

print(f"Il nuovo A={a} e il nuovo B={b}")

Valore A =1
Valore B =2
A=1 e B=2
Il nuovo A=2 e il nuovo B=1

Lo swapping si può fare grazie all'assegnazione multipla, scrivendo

a, b = b, a

In [7]:
a = (input("Valore A ="))
b = (input("Valore B ="))
print(f"A={a} e B={b}")

a, b = b, a

print(f"Il nuovo A={a} e il nuovo B={b}")

Valore A =cane
Valore B =gatto
A=cane e B=gatto
Il nuovo A=gatto e il nuovo B=cane

#5. Casting e Formattazione
Scriviamo un programma che richieda i tuoi dati e li stampi su schermo. I dati che il programma deve richiedere sono:

1. Nome e Cognome
2. Anno nascita
3. Luogo nascita
4. Altezza in metri
5. Peso i kilogrmmi

Infine il programma dovrà stampare tutte le info, con altezza e peso arrotondate a 2 cifre dopo la virgola, insieme all'età della persona.

**ESEMPIO DI INPUT**
* Nome e cognome: Enrico Ceci
* Anno di nascita: 1995
* Luogo nascita: Alatri
* Altezza (m): 1.74
* Peso (kg): 71.5

**ESEMPIO DI OUTPUT**
"Enrico Ceci, 30 anni, nato a Taormina, altezza: 1.75 m, peso: 71.5 kg"

**SUGGERIMENTI**
1. La funzione input ritorna sempre una stringa --> se vogliamo dei numeri dobbiamo eseguire il casting;
2. Possiamo arrotondare una cifra usando l'operatore formattazione, dove al posto di N dobbiamo inserire il numero di cifre dopo la virgola;

In [12]:
CURRENT_YEAR = 2025

name = input ("Nome e Cognome")
year_o_b = int(input ("Anno di nascita"))
place_o_b = input("Luogo di nascita")
height = float(input("La tua altezza (in metri)"))
weight = float(input("Il tuo peso (in kg)"))
age = CURRENT_YEAR - year_o_b

print(f"{name}, {age} anni, nato a {place_o_b} "+
      f"altezza {height:.2f}, peso {weight:.2f}")

Nome e CognomeEnrico Ceci
Anno di nascita1995
Luogo di nascitaAlatri
La tua altezza (in metri)1.74
Il tuo peso (in kg)71.5
Enrico Ceci, 30 anni, nato a Alatri altezza 1.74, peso 71.50